<!doctype html>
<html lang="{{it}}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{!--Libraries--}}
    <link rel="stylesheet" href="{{asset "/lib/bootstrap/css/bootstrap.min.css"}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {{!-- Theme css --}}
    <link rel="stylesheet" type="text/css" href="{{asset "/css/main.css"}}"/>

    <title>{{meta_title}}</title>

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{!-- iFrameResizer, permette all'iframe di adattarsi in altezza in base al contenuto --}}
    <script src="https://www.24hassistance.com/style/js/iframeResizer.min.js"></script>

</head>
<body class="{{body_class}}">

{{!-- HEADER --}}
<div class="container-fluid">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{@blog.url}}">
                <img class="site-logo" width="120" src="https://www.24hassistance.com/images/mp_hp_tabs_logo.png"
                     alt="Motoplatinum"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        {{#if @blog.navigation}}
                            {{navigation}}
                        {{/if}}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

{{!-- CONTENT --}}
{{{body}}}

{{!-- footer --}}
<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
                </div>
            </div>
        </div>
    </div>
</footer>


{{!-- Vendor Scripts --}}
<script src="{{asset "/lib/jquery/jquery.js"}}"></script>
<script src="{{asset "/lib/popper/umd/popper.js"}}"></script>
<script src="{{asset "/lib/bootstrap/js/bootstrap.js"}}"></script>
<script src="{{asset "/lib/jquery-mask-plugin/jquery.mask.js"}}"></script>


{{!-- Application scripts --}}
<script src="{{asset "/js/config.js"}}"></script>
<script src="{{asset "/js/main.js"}}"></script>
<script src="{{asset "/js/fast-quote.js"}}"></script>

{{{block "scripts"}}}

{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}
</body>
</html>
